// custom.scss

// Turquoise
$turquoise: #40E0D0;

// Orange
$orange: #FFA500;

// PSU Blue
$psu-blue: #041E42;

// Other Bootstrap variables
// If you want to customize other Bootstrap variables, you can do so here as well

// Import Bootstrap
@import "~bootstrap/scss/bootstrap";

